@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Services
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">
                Add New Item
            </a>
        </li>

        @if (Model.NotDoneOnlyMode)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Detail" asp-controller="TodoList" asp-route-todoListId="@Model.TodoListId" asp-route-notDoneOnly="false" asp-route-orderByRank="@Model.OrderByRankMode">
                    Show all items
                </a>
            </li>

        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Detail" asp-controller="TodoList" asp-route-todoListId="@Model.TodoListId" asp-route-notDoneOnly="true" asp-route-orderByRank="@Model.OrderByRankMode">
                    Hide items marked as done
                </a>
            </li>

        }
        @if (Model.OrderByRankMode)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Detail" asp-controller="TodoList" asp-route-todoListId="@Model.TodoListId" asp-route-notDoneOnly="@Model.NotDoneOnlyMode" asp-route-orderByRank="false">
                    Order by importance
                </a>
            </li>

        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Detail" asp-controller="TodoList" asp-route-todoListId="@Model.TodoListId" asp-route-notDoneOnly="@Model.NotDoneOnlyMode" asp-route-orderByRank="true">
                    Order by rank
                </a>
            </li>

        }
    </ul>

    <ul class="list-group">

        @foreach (var item in Model.Items)
        {
            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = "list-group-item-danger";
                    break;
                case Importance.Low:
                    contextualClass = "list-group-item-info";
                    break;
                default:
                    contextualClass = "";
                    break;
            }

            <li class="list-group-item @contextualClass">

                <div class="row">

                    <div class="col-md-8">
                        <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                            @if (item.IsDone)
                            {
                                <s>@item.Title</s>
                            }
                            else
                            {
                                <text>@item.Title</text>
                            }
                        </a>
                    </div>

                    <div class="col-md-4 text-right">
                        <small>
                            @item.ResponsibleParty.UserName

                            <img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30" />

                        </small>
                    </div>
                </div>

            </li>
        }
    </ul>
</div>
<summary>
    @if (Model.NotDoneOnlyMode)
    {
        <p>Displaying only not done items</p>
    }
    else
    {
        <p>Displaying all items including done</p>
    }
    @if (Model.OrderByRankMode)
    {
        <p>Sorting items by rank</p>
    }
    else
    {
        <p>Sorting items by importance</p>
    }
</summary>

